$space-size: 10px;

.height-10-percent {
    height: 10%;
}

.height-20-percent {
    height: 20%;
}

.height-30-percent {
    height: 30%;
}

.height-40-percent {
    height: 40%;
}

.height-50-percent {
    height: 50%;
}

.height-60-percent {
    height: 60%;
}

.height-70-percent {
    height: 70%;
}

.height-80-percent {
    height: 80%;
}

.height-90-percent {
    height: 90%;
}

.height-100-percent {
    height: 100%;
}

.vertical-space {
    height: $space-size;
}
